#slider-container {
    display: flex;
    flex-direction: row;
    background-color: #eee;
}
ul {
    list-style-type: none;
}
.legend-value {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
}
.legend-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 20px;
}
.background-circle {
    stroke-width: 15;
    stroke-dasharray: 5, 2;
    fill: none;
    stroke: #d5d5d5;
    rotate: -90;
}
.foreground-circle {
    stroke-width: 15;
    fill: none;
    opacity: 80%;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.clickable-circle {
    stroke-width: 15;
    fill: none;
    stroke: transparent;
}
.slider-handle {
    stroke: grey;
    fill: #fff;
}